PORT = "2024"
CUSTOM_EMAIL_HOST=your_email_host.com
CUSTOM_EMAIL_PORT=your_email_port
CUSTOM_EMAIL_SECURE=your_custom_email_secure_value
CUSTOM_EMAIL_SMTP_USER=your_custom_email_smtp_user
CUSTOM_EMAIL_SMTP_PASS=your_custom_email_smtp_pass
CUSTOM_EMAIL_FROM=your_from_email_address
CUSTOM_EMAIL_FROM_PASS=your_from_email_password
RECIPIENT_EMAIL=your_recipient_email_address
